* {
    margin: 0;
    padding: 0;
}

body {
    font-family: tahoma;
}

.works .filtering .filter {
    display: inline-block;
    padding: 29px 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.works .filtering span {
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
}

.works .filtering .active {
    background: #1a237e;
    background: linear-gradient(linear, left top, right top, from(#1a237e), to(#2676fd));
    background: linear-gradient(to right, #1a237e, #2576fd);
    color: white;
}

.works .item-img {
    position: relative;
    margin-top: 30px;
}

.works .item-img:hover .item-img-overlay {
    visibility: visible;
    opacity: 1;
}

.works .item-img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.works .item-img-overlay .icon {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #1a237e;
    text-align: center;
    font-size: 20px;
    color: #1a237e;
}

.row .no-gutters [class*=col-]{
    padding: 0;
    margin-top: -30px;
}

